body {
	display: flex;
	justify-content: center;
}
.root {
	display: flex;
	flex-direction: column;
	width: 30%;
	height: 600px;
}

.row {
	display: flex;
	flex-direction: row;

	text-align: center;
	flex: 1;
	padding: 0;
	font-size: 60px;
}
.cell:hover {
	background-color: white;
}
.cell:active {
	background-color: antiquewhite;
}
.row.display {
	background-color: black;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	padding: 10px;
	color: white;
	font-family: monospace;
}
.row.clear {
	background-color: yellow;
	padding: 0px;
}

.row.zero {
	background-color: violet;
}
.cell {
	background-color: antiquewhite;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	cursor: pointer;
}
.cell.zero {
	flex: 3;
}

.cell.clear {
	flex: 2;
}
.cell.backspace {
	flex: 1;
}
.cell.operator {
	flex: 1;
	background-color: orange;
	color: white;
}
.cell.operator:hover {
	background-color: rgb(252, 194, 5);
}
